extends common/layout
block layout-content 
    - let categoryCounts = {}

    .container
        h2.mb-4.text-center.display-5  Current instock items
        .row
        each product in items
            - categoryCounts[product.category] = (categoryCounts[product.category] || 0) + 1
        table.table.table-hover.table-bordered.mx-auto
            thead
                tr
                    th(scope="col") Category
                    th(scope="col") Stock
            tbody
            each count, category in categoryCounts
                tr
                    td #{category}
                    td #{count}
    
    .container
        h2.mb-3.text-center
            a.btn.btn-light.text-center(href="/manageproducts", role="button") Manage products
        