extends common/layout
block layout-content 
    - let categoryCounts = {}

    .container
        h2.mb-4.text-center.display-5  Current instock items
        .row
        each product in items
            - categoryCounts[product.category] = (categoryCounts[product.category] || 0) + 1
        table.table.table-hover.table-bordered.mx-auto
            thead
                tr
                    th(scope="col") Category
                    th(scope="col") Stock
            tbody
            each count, category in categoryCounts
                tr
                    td #{category}
                    td #{count}

    .container
        h2.mb-3.text-center 
            button.btn.btn-link(data-bs-toggle="collapse", data-bs-target="#addProductForm", aria-expanded="false", aria-controls="addProductForm") Want to add new Product?
        .row
            .col-md-6.collapse#addProductForm    
                form(action="/products/new", method="post")
                    .mb-3
                        label(for="name", class="form-label") Product Name
                        input(type="text", class="form-control", id="name", name="name", required)

                    .mb-3
                        label(for="category", class="form-label") Category
                        select(class="form-select", id="category", name="category", required)
                            option(value="Creatine") Creatine
                            option(value="Protein") Protein
                            option(value="Antioxidants") Antioxidants
                            option(value="Amino Acids") Amino Acids
                            option(value="Pre-workout") Pre-workout
                    .mb-3
                        label(for="price", class="form-label") Price
                        input(type="number", class="form-control", id="price", name="price", step="0.01", required)

                    .mb-3
                        label(for="quantity_available", class="form-label") Quantity Available
                        input(type="number", class="form-control", id="quantity_available", name="quantity_available", required)

                    .mb-3
                        label(for="description", class="form-label") Description
                        textarea(class="form-control", id="description", name="description", rows="3", required)

                    .mb-3
                        button(type="submit", class="btn btn-light") Add Supplement