footer.text-light.text-center.py-4(style='background-color:#264384')
    .container
        .row
            .col-md-4
                h5 Our Mission
                p Our mission is to provide you with the absolute best online shopping experience and the best prices for nutritional supplements in Canada.
            .col-md-4
                h5 Follow Us
                div.social-icons
                    a(href='https://www.facebook.com/', target='_blank', class='btn mr-2')
                        img.icon(src='/images/facebook.svg', alt='Facebook')
                    |
                    a(href='https://twitter.com/', target='_blank', class='btn mr-2')
                        img.icon(src='/images/twitter-x.svg', alt='Twitter')
                    |
                    a(href='https://linkedin.com/', target='_blank',class='btn mr-2')
                        img.icon(src='/images/linkedin.svg', alt='LinkedIn')
                    |
                    a(href='https://instagram.com/', target='_blank', class='btn mr-2')
                        img.icon(src='/images/instagram.svg', alt='instagram')
            .col-md-4
                h5 Location
                p  43, Braddock Road, Etobicoke,
                | ON ZIPCODE-M9W 5H6

    hr.my-4

   
    p &copy; 2024 PumpUp Nutritions | All rights reserved
