footer.text-light.text-center.py-4(style='background-color:#264384')
    .container
        .row
            .col-md-4
                h5 Our Mission
                p Our mission is to provide you with the absolute best online shopping experience and the best prices for nutritional supplements in Canada.
            .col-md-4
                h5 Follow Us
                div.social-icons
                    a.btn.mr-2.text-light(href="https://www.facebook.com/", target="_blank")
                        i.fab.fa-facebook
                    | |
                    a.btn.mr-2.text-light(href="https://twitter.com/", target="_blank")
                        i.fab.fa-twitter
                    | |
                    a.btn.mr-2.text-light(href="https://linkedin.com/", target="_blank")
                        i.fab.fa-linkedin
                    | |
                    a.btn.mr-2.text-light(href="https://instagram.com/", target="_blank")
                        i.fab.fa-instagram

            .col-md-4
                h5 Location
                p  43, Braddock Road, Etobicoke,
                | ON ZIPCODE-M9W 5H7

    hr.my-4

   
    p &copy; 2024 PumpUp Nutritions | All rights reserved
